<nav class="navbar navbar-expand-lg s classiq-navbar">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2" href="../index.html">
      <img src="../assets/Logo.svg" alt="ClassIQ Logo" width="49" height="49" />

      <span class="text-black fw-bold classiq-logo-text">
        ClassIQ
      </span>
    </a>

    <ul class="navbar-nav ms-5">
      <li class="nav-item">
        <a class="nav-link text-black" href="#">
          Courses
        </a>
      </li>
    </ul>

    <div class="d-flex align-items-center gap-3 ms-auto">
      <button type="button" class="btn btn-dark classiq-auth-btn">
        Login
      </button>

      <button type="button" class="btn btn-dark classiq-auth-btn">
        Signup
      </button>
    </div>
  </div>
</nav>
